@model Prova.Repository.TheMovieImplementation.Filme
@{
    ViewBag.Title = "Detalhes";
}



<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
       @Model.Title
        
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col">
            <img class="img-fluid" src='@Html.Raw("https://image.tmdb.org/t/p/w500" + Model.PosterPath)'  alt="">
        </div>

        <div class="col">
            <h3 class="my-3">Sinopse</h3>
            <p>@Model.Overview</p>
            
        </div>

    </div>
